.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: #de8689;
}

.button {
    width: 100px;
    margin-top: 5px;
    background-color: #b9bd60;
    color: white;
    align-self: center;
    border: 2px #f0e8e4 solid;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

div.button {
    margin-top: 20px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: #dae5b2;
}

.wrong {
    color: #f4c6c0;
}